/* --- Change colors here ---*/

/* A '+ sign' next to the color description means it has HEX 26 on alpha layer */
/* Every additional + sign adds HEX26 */

:root
  --standardBackground: #FAFAFA       /*  grey lighten-5    */
  --accentBackground: #EEEEEE         /*  grey lighten-3    */
  --accentBackground2: #E0E0E0        /*  grey lighten-2    */
  --alternativeBackground: #212121    /*  grey darken-4     */

  --mentionHighlight: #EEFF4152       /*  ++lime darken-4   */
  --mentionHighlightUnseen: #EEFF4178 /* +++lime darken-4   */

  --notification: #1565C078           /*  +++blue darken-4  */

  --standardText: #212121             /*  grey darken-4     */
  --accentText: #424242               /*  grey darken-3     */
  --accentText2: #616161              /*  grey darken-2     */
  --alternativeText: #BDBDBD          /*  grey lighten-1    */
  --alternativeText2: #E0E0E0         /*  grey lighten-2    */

  --navigationText: #2962FF           /*  blue accent-4     */
  --accentNavigationText: #2979FF     /*  blue accent-3     */

  --customPrimary: #1B5E20            /*  green darken-4    */
  --customPrimaryAccent: #388E3C      /*  green darken-2    */
  --customPrimaryDim: #1B5E2026       /*  +green darken-4   */

/* --- Change sidebar colors here ---*/
:root
  --sidebarColor: var(--standardBackground)
  --sidebarColorDarken: var(--accentBackground)
  --sidebarColorLighten: var(--alternativeBackground)
  --sidebarLogoColor: var(--standardBackground)
  --sidebarFontColor: var(--standardText)

/* --- Change shadows here ---*/

/* Comment it to disable shadows */

:root
  --mainShadow: var(--alternativeText)
  --sidebarShadow: var(--alternativeText)

/* --- Change Logo here ---*/

/* Uncomment it to display custom logo */

/*
.tracimLogo__img
  content url('your logo url or base64 here')
*/
