
/* --- Change colors here ---*/

/* A '+ sign' next to the color description means it has HEX 26 on alpha layer */
/* Every additional + sign adds HEX26 */

:root
  --standardBackground: #CFD8DC       /*  blue-grey lighten-5 */
  --accentBackground: #B0BEC5         /*  blue-grey lighten-3 */
  --accentBackground2: #90A4AE        /*  blue-grey lighten-2 */
  --alternativeBackground: #263238    /*  blue-grey darken-4  */

  --mentionHighlight: #EEFF4152       /*  ++lime darken-4     */
  --mentionHighlightUnseen: #EEFF4178 /*  +++lime darken-4    */

  --notification: #1565C078           /*  +++blue darken-4    */

  --standardText: #263238             /*  grey darken-4       */
  --accentText: #37474F               /*  grey darken-3       */
  --accentText2: #455A64              /*  grey darken-2       */
  --alternativeText: #78909C          /*  grey lighten-1      */
  --alternativeText2: #90A4AE         /*  grey lighten-2      */

  --navigationText: #2962FF           /*  blue accent-4       */
  --accentNavigationText: #2979FF     /*  blue accent-3       */

  --customPrimary: #1B5E20            /*  green darken-4      */
  --customPrimaryAccent: #388E3C      /*  green darken-2      */
  --customPrimaryDim: #1B5E2026       /*  +green darken-4     */

/* --- Change sidebar colors here ---*/
:root
  --sidebarColor: var(--standardBackground)
  --sidebarColorDarken: var(--accentBackground)
  --sidebarColorLighten: var(--alternativeBackground)
  --sidebarLogoColor: var(--standardBackground)
  --sidebarFontColor: var(--standardText)
