/* --- Change colors here ---*/

/* A '+ sign' next to the color description means it has HEX 26 on alpha layer */
/* Every additional + sign adds HEX26 */

:root
  --standardBackground: #212121       /*  grey darken-4         */
  --accentBackground: #424242         /*  grey darken-3         */
  --accentBackground2: #616161        /*  grey darken-2         */
  --alternativeBackground: #FAFAFA    /*  grey lighten-5        */

  --mentionHighlight: #EEFF4126       /*  ++lime darken-4       */
  --mentionHighlightUnseen: #EEFF4152 /*  +++lime darken-4      */

  --notification: #0091EA26           /*  +light-blue darken-4  */

  --standardText: #FAFAFA             /*  grey lighten-5        */
  --accentText: #F5F5F5               /*  grey lighten-4        */
  --accentText2: #EEEEEE              /*  grey lighten-3        */
  --alternativeText: #424242          /*  grey darken-3         */
  --alternativeText2: #616161         /*  grey darken-2         */

  --navigationText: #0091EA           /*  light-blue accent-4   */
  --accentNavigationText: #40C4FF     /*  light-blue accent-2   */

  --customPrimary: #00C853            /*  green accent-4        */
  --customPrimaryAccent: #69F0AE      /*  green accent-2        */
  --customPrimaryDim: #00C85326       /*  +green accent-4       */

/* --- Change sidebar colors here ---*/
:root
  --sidebarColor: var(--standardBackground)
  --sidebarColorDarken: var(--accentBackground)
  --sidebarColorLighten: var(--alternativeBackground)
  --sidebarLogoColor: var(--standardBackground)
  --sidebarFontColor: var(--standardText)

/* --- Change shadows here ---*/

/* Comment it to disable shadows */

/*
:root
  --mainShadow: var(--alternativeText)
  --sidebarShadow: var(--alternativeText)
*/
