/* --- Change colors here ---*/
/* A '+ sign' next to the color description means it has HEX 26 on alpha layer */
/* Every additional + sign adds HEX26 */
:root {
  --standardBackground: #263238 /*  blue-grey darken-4  */;
  --accentBackground: #37474f /*  blue-grey darken-3  */;
  --accentBackground2: #455a64 /*  blue-grey darken-2  */;
  --alternativeBackground: #eceff1 /*  blue-grey lighten-5 */;
  --mentionHighlight: rgba(238,255,65,0.149) /*  +lime darken-4      */;
  --mentionHighlightUnseen: rgba(238,255,65,0.322) /*  ++lime darken-4     */;
  --notification: rgba(224,247,250,0.322) /*  ++cyan lighten-5    */;
  --standardText: #eceff1 /*  blue-grey lighten-5 */;
  --accentText: #cfd8dc /*  blue-grey lighten-4 */;
  --accentText2: #b0bec5 /*  blue-grey lighten-3 */;
  --alternativeText: #455a64 /*  blue-grey darken-2  */;
  --alternativeText2: #546e7a /*  blue-grey darken-1  */;
  --navigationText: #0091ea /*  light-blue accent-4 */;
  --accentNavigationText: #40c4ff /*  light-blue accent-2 */;
  --customPrimary: #00c853 /*  green accent-4      */;
  --customPrimaryAccent: #69f0ae /*  green accent-2      */;
  --customPrimaryDim: rgba(0,200,83,0.149) /*  +green accent-4     */;
}
/* --- Change sidebar colors here ---*/
:root {
  --sidebarColor: var(--standardBackground);
  --sidebarColorDarken: var(--accentBackground);
  --sidebarColorLighten: var(--alternativeBackground);
  --sidebarLogoColor: var(--standardBackground);
  --sidebarFontColor: var(--standardText);
}
/* --- Change shadows here ---*/
/* Comment it to disable shadows */
/*
:root
  --mainShadow: var(--alternativeText)
  --sidebarShadow: var(--alternativeText)
*/
/* --- Change Logo here ---*/
/* Uncomment it to display custom logo */
/*
.tracimLogo__img
  content url('your logo url or base64 here')
*/
