/* --- Change colors here ---*/
/* A '+ sign' next to the color description means it has HEX 26 on alpha layer */
/* Every additional + sign adds HEX26 */
:root {
  --standardBackground: #212121 /*  grey darken-4         */;
  --accentBackground: #424242 /*  grey darken-3         */;
  --accentBackground2: #616161 /*  grey darken-2         */;
  --alternativeBackground: #fafafa /*  grey lighten-5        */;
  --mentionHighlight: rgba(238,255,65,0.149) /*  ++lime darken-4       */;
  --mentionHighlightUnseen: rgba(238,255,65,0.322) /*  +++lime darken-4      */;
  --notification: rgba(0,145,234,0.149) /*  +light-blue darken-4  */;
  --standardText: #fafafa /*  grey lighten-5        */;
  --accentText: #f5f5f5 /*  grey lighten-4        */;
  --accentText2: #eee /*  grey lighten-3        */;
  --alternativeText: #424242 /*  grey darken-3         */;
  --alternativeText2: #616161 /*  grey darken-2         */;
  --navigationText: #0091ea /*  light-blue accent-4   */;
  --accentNavigationText: #40c4ff /*  light-blue accent-2   */;
  --customPrimary: #00c853 /*  green accent-4        */;
  --customPrimaryAccent: #69f0ae /*  green accent-2        */;
  --customPrimaryDim: rgba(0,200,83,0.149) /*  +green accent-4       */;
}
/* --- Change sidebar colors here ---*/
:root {
  --sidebarColor: var(--standardBackground);
  --sidebarColorDarken: var(--accentBackground);
  --sidebarColorLighten: var(--alternativeBackground);
  --sidebarLogoColor: var(--standardBackground);
  --sidebarFontColor: var(--standardText);
}
