/* /-- ---------------------------------------------------- --\*/
/* |-- DO NO ALTER FURTHER UNLESS YOU WANT MORE GRANULARITY --|*/
/* \__ ____________________________________________________ __/*/
/* --- Background Color -- */
/* -- --standardBackground -- */
body,
textarea,
input,
.dropdown-menu,
.css-9gakcf-option,
.shareDownload__password__wrapper,
.timeline__comment,
.searchFilterMenu__title,
.searchFilterMenu,
.notification__list__item.itemRead,
.filterBar,
.filterBar .textinput__box,
.filterBar .textinput__text,
.notification,
.account__userpreference__setting,
.workspace_advanced__contentpage__content__left,
.pageTitleGeneric,
.css-26l3qy-menu,
.revision,
.dashboard__workspace__detail,
.dashboard__workspace__rightMenu,
.menusubcomponent,
.feedItem__content,
.memberlist__wrapper,
.folder__header,
.contentItem,
.popover,
.popover-body,
div.tox .tox-toolbar,
.tox .tox-statusbar,
.mce-content-body,
.form-control,
.form-control:focus,
.toDoItem,
.css-1pahdxg-control,
.file__contentpage__content__left,
.autocomplete,
.emoji-mart,
.css-yk16xz-control,
.html-document__contentpage__content__left,
.html-document__contentpage__edition__content__left,
.textinput__box,
.tox .tox-collection__item,
.tox .tox-collection--list .tox-collection__item--enabled,
.emoji-mart-category-label span,
.profile__mainBar,
.profile__content > div,
.kanban__contentpage__content__left,
.kanban__contentpage__wrapper__board__card,
.radio_btn_group__btn__img,
.tab {
  background-color: var(--standardBackground);
}
/* -- --accentBackground2 -- */
.feedItem,
.dropdownMenuItem > :hover,
.dropdownMenuItem:hover:not(:active),
.wsContentGeneric__content__right__header,
.wsContentGeneric__content__right__header__icon,
.autocomplete__item:hover,
.autocomplete__item__active,
.tagList__list__item,
.emoji-mart-category .emoji-mart-emoji:hover::before,
.toDo__progressBar_container,
.search,
.memberlist .filterBar,
.memberlist .filterBar .textinput__box,
.memberlist .filterBar .textinput__box input,
.checkboxFilter__title,
.tox .tox-menu,
.searchFilterMenu__content__item__title,
.iconbutton-secondary:hover,
.css-1n7v3ny-option,
.folder .folder__header:hover,
.iconbutton-pins-dark,
.tox .tox-tbtn:hover,
.css-9gakcf-option:hover,
.contentItem:hover {
  background-color: var(--accentBackground2);
}
/* -- --accentBackground -- */
button,
.wsContentGeneric,
.recentActivities,
.personalRecentActivities,
.menusubcomponent__list__item:hover:not(.active),
.personaldata__form__txtinput,
.rightPartClose .wsContentGeneric__content__right__header__icon.active,
.personaldata__form__txtinput:focus,
.agendaInfo__content__link__url,
.agendaInfo__content__link__icon,
.wsContentGeneric__content__right__content,
.webdavInfo__content__link__url,
.webdavInfo__content__link__icon,
.table tr:nth-child(2n),
.workspaceRecentActivities,
.tracim__content,
.tox .tox-collection--toolbar .tox-collection__item--active,
.tab__active,
.linkPreview,
.cardPopup__container,
.tox .tox-tbtn--enabled,
.tox .tox-tbtn--enabled:hover,
.kanban__contentpage__wrapper .react-kanban-column,
.kanban__columnAdder:hover,
.badge,
.wsContentGeneric__content__right__header__icon.active,
.memberlist__list__item:hover,
.feedItemFooter__right__participate:hover,
.EmojiReactionButton__button:not(.primaryColorBgOpacity),
.flashmessage__container,
code,
.iconbutton-secondary,
.dropdown-item,
.tab:hover {
  background-color: var(--accentBackground);
}
/* -- others --*/
span.mention-me {
  background-color: var(--mentionHighlight);
}
/* -- --notification --*/
.notification__list__item {
  background-color: var(--notification);
}
.notification__list__item.isMention:not(.itemRead) {
  background-color: var(--mentionHighlightUnseen);
}
.notification__list__item.isMention.itemRead {
  background-color: var(--mentionHighlight);
}
.html-document__contentpage__timeline__messagelist__version:hover {
  color: #000;
}
.file__contentpage__messagelist__version:hover {
  color: #000;
}
.kanban__contentpage__messagelist__version:hover {
  color: #000;
}
.promptMessage {
  background-color: #f2a027;
}
/* --- Text --- */
/* -- --standardText --*/
body,
textarea,
input,
button,
.dropdown-menu,
.dropdownMenuItem > *,
.dropdownMenuItem > :hover,
.dropdown,
.iconbutton-dark,
.iconbutton-secondary,
.breadcrumbs__item__separator,
.content__name,
.tab,
.popover-body,
.advancedSearchContent,
.advancedSearchContent:hover,
.wsContentGeneric .headerBtn__link,
.wsContentGeneric .headerBtn__link:hover,
.folder__header__lastModification,
.content__lastModification,
.advancedSearchContent__information,
.advancedSearchContent__title,
.folder__header__name,
.memberlist__list__item__delete,
.tox .tox-collection--list .tox-collection__item--enabled,
.wsContentGeneric__header__reactions .EmojiReactionButton__buttonpicker,
.wsContentGeneric__header__actions.dropdownMenuButton,
.timedEvent__topContents > span,
.feedItemHeader__actionMenu.dropdownMenuButton,
.selectStatus__dropdownbtn.btn,
.emoji-mart,
.memberActivity__workspace,
.notification__list__item,
.tab:hover,
.content__status,
.iconbutton-link-light:hover,
.wsContentGeneric__content__right__header__icon,
.userinfo__email > a,
.EmojiReactionButton__button > *,
.toDoItem__content__navigation > *,
.feedItemFooter__right__participate:hover,
.contentListItem,
.contentListItem__information,
.tox .tox-collection--list .tox-collection__item--active:not(.tox-collection__item--state-disabled),
.buttonComments:hover,
.EmojiReactionButton__buttonpicker.active,
.kanban__contentpage__wrapper__board__card__title__actions.dropdownMenuButton,
.kanban__contentpage__wrapper__board__column__title__actions.dropdownMenuButton {
  color: var(--standardText);
}
/* -- --accentText --*/
.notification__list__item.itemRead,
.notification__list__item__meta,
.shareDownload__password__link,
.EmojiReactionButton__buttonpicker,
.wsContentGeneric__content__left__top,
.toDoItemChecked,
.toDoItemChecked *,
.emptyListMessage,
.advancedSearch__content__detail,
.badge,
pre,
.memberActivity__workspace:hover,
.sidebar__item__menu__element *,
.feedItemFooter__right__participate,
.iconbutton-link-light {
  color: var(--accentText);
}
/* -- --accentText2 --*/
.memberlist__list__item__info__role,
.shareDownload__password__link:hover,
.memberlist__list__item__info__firstColumn__username,
.form-control,
.form-control:focus,
.css-1uccc91-singleValue,
.css-1g6gooi {
  color: var(--accentText2);
}
/* -- --alternativeText --*/
.___none___ {
  color: var(--alternativeText);
}
/* -- --alternativeText2 --*/
.tagList__list__item__triangleIcon,
.EmojiReactionButton__buttonpicker:hover:not(:disabled),
.EmojiReactionButton__button:hover:not(.highlighted):not(:disabled),
.tox .tox-tbtn:hover,
.tox .tox-statusbar,
.tox .tox-tbtn,
.mce-content-body[data-mce-placeholder]:not(.mce-visualblocks)::before,
.tox .tox-statusbar a,
.tox .tox-statusbar__path-item,
.tox .tox-statusbar__wordcount,
.EmojiReactionButton__buttonpicker:hover:not(.active):not(:disabled) {
  color: var(--alternativeText2);
}
/* -- others --*/
.profileNavigation {
  color: var(--navigationText);
}
.profileNavigation:hover,
.toDoItem__content__navigation > :hover {
  color: var(--accentNavigationText);
}
.folder__header:hover .folder__header__triangleborder__triangle {
  color: var(--accentBackground);
}
/* --- CustomColors --- */
/* -- ----customPrimary --*/
.primaryColorFont,
code,
.primaryColorFontDarken {
  color: var(--customPrimary);
}
.primaryColorBg {
  background-color: var(--customPrimary);
}
.primaryColorBgOpacity,
.iconbutton-pins-dark,
.primaryColorBorder {
  border-color: var(--customPrimary);
}
/* -- --customPrimaryAccent --*/
.primaryColorFont:hover,
.primaryColorFontHover:hover {
  color: var(--customPrimaryAccent);
}
/* -- --customPrimaryDim --*/
.primaryColorBgOpacity,
.primaryColorBgLighten {
  background-color: var(--customPrimaryDim);
}
/* --- Other Styling ---*/
.tab__active {
  border-bottom: 1px solid transparent;
}
.popover.bs-popover-auto[x-placement^="left"] .arrow::after {
  border-left-color: var(--accentBackground);
}
.folder__header__triangleborder__triangle {
  border-color: var(--standardBackground) transparent transparent transparent;
}
.activityList .feedItem__preview__overflowOverlay {
  background-image: linear-gradient(to top, var(--standardBackground), transparent), radial-gradient(ellipse at bottom, var(--standardBackground), transparent);
}
.popupCreateContent .cardPopup__container {
  background: var(--accentBackground);
}
.css-yk16xz-control,
.shareDownload__password__wrapper {
  border-color: var(--standardBackground);
}
.wsContentGeneric__header,
.filterBar .textinput__text {
  border-bottom: 1px solid var(--accentBackground2);
}
.sidebar__search > .search {
  box-shadow: 0 0 20px 0 var(--sidebarShadow);
}
.feedItem__preview__image > img,
.timeline__comment__body__content__text img,
.autocomplete {
  box-shadow: 0 0 10px var(--mainShadow);
}
.search {
  box-shadow: 0 0 20px 0 var(--mainShadow);
}
.toDoItemChecked {
  background: repeating-linear-gradient(25deg, var(--accentBackground), var(--accentBackground) 5px, var(--standardBackground) 5px, var(--standardBackground) 10px);
}
.notification__list__item:hover {
  color: inherit;
}
.tox .tox-tbtn:hover svg,
.emoji-mart button,
.emoji-mart-category button.emoji-mart-emoji span,
.tox-collection__item-icon svg,
.tox .tox-collection__item-caret svg,
.tox .tox-tbtn svg {
  fill: var(--accentText2) !important;
}
.filterBar {
  border: 1px solid var(--standardBackground);
}
.wsContentGeneric__header,
.filterBar .textinput__text {
  border-bottom: 1px solid var(--standardBackground);
}
.memberlist .filterBar .textinput__text {
  border-bottom: none;
}
.thread__contentpage__comment,
.thread__contentpage__messagelist__version,
.thread__contentpage__texteditor__textinput > textarea {
  background-color: var(--standardBackground);
}
.table td,
.table th {
  border-top: 1px solid var(--accentBackground2);
}
.table thead th {
  border-bottom: 2px solid var(--accentBackground2);
}
.popover,
.popover-body {
  background-color: var(--accentBackground);
}
.popover.bs-popover-auto[x-placement^="bottom"] .arrow::after,
.popover.bs-popover-bottom .arrow::after {
  border-bottom-color: var(--accentBackground);
}
.tox .tox-collection--list .tox-collection__item--active,
.tox-collection__item--active .tox-collection__item-label,
.tox-collection__item--active .tox-collection__item-label > * {
  background-color: var(--accentBackground) !important;
}
.tox .tox-collection--list .tox-collection__group,
.tox .tox-menu {
  border-color: var(--accentBackground2) !important;
}
.tox-tbtn.tox-tbtn--select.tox-tbtn--bespoke,
.tox .tox-collection__item {
  color: var(--standardText) !important;
}
/* /-- ---------------------- --\*/
/* |-- CALENDAR RELATED FIXES --|*/
/* \__ ______________________ __/*/
/* Separating because it's a mess */
.searchContainer input,
.fc-widget-content,
.fc-state-highlight,
#MainLoader,
#EventDisabler,
.fc-widget-content.fc-weekend-day,
.fc-widget-content tr.fc-weekend-day,
.headers,
#main_h,
#ResourceCalDAVList,
#ResourceCalDAVTODOList,
#searchForm,
#main,
#mainTODO,
#event_details_template,
#todo_details_template,
.fc-widget-header,
#CalDavZAPPopup,
.resourceCalDAV_header,
.ui-widget-content,
.resourceCalDAVTODO_header {
  background-color: var(--standardBackground);
}
.fc-week-number,
.fc-view-list .fc-list-header,
.fc-view-table td.fc-list-header,
.fc-view-todo td.fc-list-header {
  background-color: var(--accentBackground2);
}
.ui-state-active,
.ui-widget-content .ui-datepicker-week-end .ui-state-active,
.fc-state-default,
.fc-state-default .fc-button-inner,
.ui-widget-content .ui-datepicker-today .ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  background-color: var(--accentBackground2) !important;
}
.fc-event.fc-event-row:hover {
  background-color: var(--accentBackground);
}
#timezoneWrapper,
#timezoneWrapperTODO,
.fc-state-active,
.fc-state-active .fc-button-inner,
#event_details_template textarea,
#event_details_template input,
#event_details_template select,
#ResourceCalDAVList .resourceCalDAV_item:hover,
#ResourceCalDAVTODOList .resourceCalDAVTODO_item:hover,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
#timezoneWrapper select,
#timezoneWrapperTODO select {
  background-color: var(--accentBackground) !important;
  background: var(--accentBackground) !important;
}
.fc-widget-content,
.fc-widget-content.fc-weekend-day,
.fc-widget-content tr.fc-weekend-day,
.searchContainer input,
.headers,
#main_h,
#ResourceCalDAVList,
#ResourceCalDAVTODOList,
.iconbutton-pins-dark,
#searchForm,
.fc-widget-header,
.resourceCalDAV_header,
.resourceCalDAVTODO_header,
.resourceCalDAV_item,
.resourceCalDAVTODO_item,
.ui-widget-content,
#timezoneWrapper,
#timezoneWrapperTODO,
#timezoneWrapper select,
#timezoneWrapperTODO select,
#CalDavZAPPopup,
.fc-view-list .fc-list-header,
.fc-view-table td.fc-list-header,
.fc-view-todo td.fc-list-header,
.fc-event.fc-event-row:hover {
  color: var(--standardText);
}
#ResourceCalDAVList .resourceCalDAV_item:hover,
#ResourceCalDAVTODOList .resourceCalDAVTODO_item:hover,
.loaderInfo,
#eventDetailsTable .label,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
#event_details_template select,
.fc-state-default,
.fc-state-default .fc-button-inner,
#event_details_template textarea,
#event_details_template input,
.ui-state-active,
.ui-widget-content .ui-datepicker-week-end .ui-state-active,
.ui-widget-content .ui-datepicker-today .ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  color: var(--standardText) !important;
}
/* /-- --------------------- --\*/
/* |-- COLOR UNRELATED FIXES --|*/
/* \__ _____________________ __/*/
.timeline__comment.received {
  margin-inline-end: 0;
}
.revision {
  width: inherit;
  margin: 0 15% 0 0;
}
.timeline__messagelist__item + .revision {
  margin-top: 15px;
}
.revision + .timeline__messagelist__item {
  margin-top: 20px;
}
.checkboxFilter__title + .checkboxFilter__checkbox,
.searchFilterMenu__content__item__title + .dateFilter {
  margin-top: 10px;
}
.checkboxFilter .checkboxFilter__checkbox:last-of-type,
.dateFilter {
  margin-bottom: 20px;
}
